name: Test Kotlin

on:
  push:
    paths:
      - "kotlin/**"

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    
    # I've found the cache in this to be a better fit for this simple project than gradle/actions/setup-gradle
    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
        cache: gradle
        cache-dependency-path: |
          kotlin/*.gradle*
          kotlin/**/gradle-wrapper.properties

    - name: Build
      working-directory: kotlin
      run: ./gradlew build --no-daemon
